.cardWrap {
  position: relative;
  height: 413px;
  width: 285px;
}

.stars {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
}

.heart {
  position: absolute;
  bottom: 110px;
  right: 16px;
  margin: 0;
}
